@import '~antd/dist/antd.css';
.ant-carousel .slick-slide {
    width: 100%;
    line-height: 2.1rem;
    overflow: hidden;
    margin-bottom: 0.17rem;
    z-index: 9;
    img{
        width: 100%;
        z-index: 9;
    }
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

.Shouye{
    flex: 1;
    background: #e1e1e1;
    margin-top: 0.5rem;
    ul{
        li{
            background: white;
            margin: 0 17px 17px 17px;
            overflow: hidden;
            box-shadow: #999 1px 1px 3px;
            .now_img{
                img{
                    width: 100%;
                }
            }
            .now_mes{
                position: relative;
                line-height: 0.15rem;
                padding: 0.1rem;
                h3{
                    width: 100%;
                    font-size:12px;
                    color: black;
                    float: left;
                }
                p{
                    width: 100%;
                    font-size: 8px;
                    float: left;
                    margin-bottom: 0.1rem;
                    
                    
                }
                span{
                    color: #f78360;
                    display: inline-block;
                    line-height: 0.5rem;
                    position: absolute;
                    font-size: 18px;
                    bottom: -0.3rem;
                   right: 0.2rem;
                      
                }
            }
           
        }
    }
    .getMore{
        width: 160px;
        height: 30px;
        border: 1px solid #aaa;
        border-radius: 15px;
        margin: 10px auto 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color: #616161;
        cursor: pointer;
    }
    #nowPlay{
    }
    #willPlay{
        .willHead{
            position: relative;
            margin-top: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #a8a8a8;
            div{
                width: 65px;
                height: 20px;
                margin: 0 auto;
                margin-bottom: -10px;
                border-radius: 5px;
                font-size: 10px;
                line-height: 20px;
                text-align: center;
                color: #eee;
                background-color: #a7a7a7;
            }
        }
    }
}